*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:roboto-uniquifier;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #d3d3c2;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgba(123, 55, 55, 0.764);
}
p{
    color: rgba(123, 55, 55, 0.764);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    nav-up: auto;
    height: 74vh;
    padding: 0 5%;
}
.col-2{
    nav-up: 10px;
    position: static;
    flex-basis: 50%;
    min-width: 300px;
    margin-bottom: 300px;
}
.col-2 img{
    position: static;
    max-width: 100%;
    padding: 50px ;
    padding-right: 10px;
    border-radius: 10cap;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.btn{
    display: inline-block;
    background: #9d8568;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: rgba(123, 55, 55, 0.764);
}
.header{
    background: radial-gradient(#d3d3c2,#d3d3c2);
}
.header .row{
    margin-top: 75px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 10px;
    margin-bottom: 300px;

}
.col-3 img{
    width: 100%;
}
.small-Container{
      max-width: 1080px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
}
.small-container{
      max-width: 1080px;
      padding-left: 25px;
      padding-right: 25px;
      margin: auto;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 300px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin-left: 430px;
    line-height: 60px;
    color:brown;
    margin-top: -300px;
    position: absolute;
}